name: CI

on: 
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - '.github*'
      - '.git*'
  pull_request: 
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - '.github*'
      - '.git*'
jobs:
  lint:
    runs-on: ubuntu-latest  
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: 1.21
        cache-dependency-path: |
           assignment/go.sum
           auth/go.sum
           course/go.sum
          
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3
      with: 
        version: v1.54
        working-directory: ./assignment/
        
  build: 
    runs-on: ubuntu-latest
    strategy: 
      matrix: 
        goos: [linux, windows, darwin]
        goarch: [amd64]
        include: 
          - goos: darwin
            goarch: arm64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21
          cache-dependency-path: |
             assignment/go.sum
             auth/go.sum
             course/go.sum
      - name: Display Go version
        run: go version
      - name: Cross-build assignments
        run: |
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o assignments-${{ matrix.goos }}-${{ matrix.goarch }} ./assignment/cmd/assignments/main.go
