name: Lint

on: 
  push:
    branches: [ "main" ]
  pull_request: 
    branches: [ "main" ]
  workflow_dispatch:
    
jobs:
  lint:
    runs-on: ubuntu-22.04  
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
          
    - name: Run golangci-lint
      run: | 
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.50.1   
        
        golangci-lint run ./assignments/...
