name: Release

on:
  release:
    types: [created]

jobs:
  build:
    name: Build and Zip
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64]
        include: 
          - goos: darwin
          - goarch: arm64
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21
          
      - name: Display Go version
        run: go version
        
      - name: Cross-build assignments
        run: |
          OUTPUT_NAME=assignments-${{ matrix.goos }}-${{ matrix.goarch }}
          if [ "${{ matrix.goos }}" = "windows" ]; then OUTPUT_NAME+='.exe'; fi
          env GOOS=${{ matrix.goos }} GOARCH={{ matrix.goarch }} go build -o $OUTPUT_NAME ./assignment/cmd/main.go

      - name: Zip the executables
        run: |
          EXECUTABLE_NAME=assignments-${{ matrix.goos }}-${{ matrix.goarch }}
          if [ "${{ matrix.goos }}" = "windows" ]; then EXECUTABLE_NAME+='.exe'; fi
          zip assignments-${{ matrix.goos }}-${{ matrix.goarch }}.zip $EXECUTABLE-NAME

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: assignments
          path: assignments-*.zip

  release:
      needs: build
      runs-on: ubuntu-latest
      steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: assignments
    
      - name: Display downloaded files
        run: ls -R
       
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Upload release binaries
        uses: alexellis/upload-assets@master
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
        with:
         asset_paths: '["assignmetns-darwin-arm64", "assignments-darwin-amd64", "assignments-linux-amd64", "assignments-windows-amd64.exe"]'

